.container{
    height: 450px;
    margin-top:10px;
    font-size: 25px;
}

i{
    padding:0px;
}

.fa-location-arrow, .fa-search{
    color:red;
}

p{
    font-size: 1em;
}

.fa-sun{
    font-size: 3.25em;
}

#button{
    background-color: black;
    text-shadow: black;
}

