.container{
    height: 450px;
    margin-top:10px;
    font-size: 25px;
    max-width: 850px;
}
#city{
    font-size:1.5em;
}
i{
    padding:0px;
    text-align: center;
    display:inline;
}

.fa-location-arrow, .fa-search{
    color:red;
}

p{
    font-size: 1em;
}

.fa-sun{
    font-size: 1em;
    display:inline;
}

#button{
    background-color: black;
    text-shadow: black;
}

#icon img{
    color:red;
    height:auto;
    
}

h6{
    text-align: center;
}

svg{
    height: 1.5em;
    padding: 0px;
}

#temp{
    font-size: 300%;
    margin:0px;
    padding: 0px;
    text-align: end;
}

#numbers{
   position: relative;
   top:105px;
}
.weather{
    position: relative;
    left: 15px;
    padding: 0px;
    width:auto;
    text-align: left;
    display: inline;
}